page-login {
    ion-slide {
        background-color: black;
      }
   
      ion-slide img {
        height: 70vh !important;
        width: auto !important;
      }
      .intro-logo img{
          height: auto !important;
      }
   
}
