page-login {
	width: 100vw;
	position: absolute;
	bottom: 0;
	ion-icon {
		margin-right: 2vw;
		font-size: 2.4rem;
	}
	p {
		color: color($colors, gray);
		span {
			color: color($colors, dark);
		}
		span.activated,
		span:active {
			opacity: 0.75;
		}
	}
	.scroll-content {
		background-repeat: repeat;
		background-size: cover;
		background-image: url("../assets/images/background/dark-bckg.jpg");
	}

	div.buttons {
		margin-top: 2vh;
		button {
			color: color($colors, light);
			font-size: 1.2rem;
			width: 88vw;
			height: 6.5vh;
			border-radius: 0 !important;
			margin-bottom: 1vh;
		}
	}
	div.logo {
		margin-top: 18vh;
		img {
			width: 68vw;
		}
	}
	button {
		color: color($colors, light);
		font-size: 1.2rem;
		width: 88vw;
		height: 6.5vh;
		border-radius: 0 !important;
		margin-bottom: 1vh;
	}
}
