<ion-card [ngClass]="animateClass" class="timeline grande-spacer">
    <ion-card-header class="cardHeader">
        <ion-icon name="pin" class="cardIcon"></ion-icon>
        Current Location
        <span *ngIf="user.currentCoords && currentUser.currentCoords">
          (~{{user.currentCoords | calculateDistance: currentUser.currentCoords}} km away)</span>
    </ion-card-header>
    <ion-card-content class="cardContent">
        <p>{{user.currentLocation}}</p>
    </ion-card-content>
    <ion-card-header class="cardHeader">
        <ion-icon name="information-circle" class="cardIcon"></ion-icon> About me
    </ion-card-header>
    <ion-card-content class="cardContent">
        <p>{{user.about}}</p>
    </ion-card-content>
    <ion-card-header class="cardHeader">
        <ion-icon name="globe" class="cardIcon"></ion-icon> Languages
    </ion-card-header>
    <ion-card-content class="cardContent">
        <p>
          <span *ngFor="let language of user.languages">{{language.name}} </span>
        </p>
    </ion-card-content>
</ion-card>
