page-my-profile {
	.card-background-page {
		ion-card {
			position: relative;
			text-align: center;
		}

		.card-title {
			position: absolute;
			top: 36%;
			font-size: 2em;
			width: 100%;
			font-weight: bold;
			color: #fff;
		}

		.card-subtitle {
			font-size: 1em;
			position: absolute;
			top: 52%;
			width: 100%;
			color: #fff;
		}
	}
	#photos-button {
		background: #a75ada;
	}
	#about-button {
		background: #8649c8;
	}
	ion-segment-button {
		color: white;
		height: 60px;
		padding-top: 10px;
		ion-icon {
			color: white;
		}
	}

	ion-slides {
		height: auto;

		.swiper-pagination {
			top: 10px;

			.swiper-pagination-bullet {
				background: color($colors, white);
			}
		}
	}
	.action-btn {
		margin-top: -84px;
	}
	.img-btn {
		width: 76px;
		height: 76px;
	}
}
