page-my-profile {
	ion-list {
		margin: 21px 14px 0px 14px !important;
	}
	.card-background-page {
		ion-card {
			margin-top: 21%;
			position: relative;
			margin: auto;
			max-width: 256px;
			text-align: center;
		}

		.card-title {
			position: absolute;
			top: 36%;
			font-size: 2em;
			width: 100%;
			font-weight: bold;
			color: #fff;
		}

		.card-subtitle {
			font-size: 1em;
			position: absolute;
			top: 52%;
			width: 100%;
			color: #fff;
		}
	}
	#photos-btn {
		background: universal;
		color: white;
	}
	#about-btn {
		background: universal;
		color: white;
	}
	ion-segment-button {
		color: white;
		height: 60px;
		padding-top: 10px;
	}

	ion-slides {
		height: auto;

		.swiper-pagination {
			top: 10px;

			.swiper-pagination-bullet {
				background: color($colors, white);
			}
		}
	}
	.action-btn {
		margin-top: -84px;
	}
	.img-btn {
		width: 76px;
		height: 76px;
	}
}
