<ion-content no-bounce padding id="page7" style="background: url('https://s-media-cache-ak0.pinimg.com/236x/b3/1c/ce/b31cceccea15b00977c77fa7018345f9.jpg');">
  <menu-button></menu-button>
  <span class="pageHeader">My Profile</span>
  <ion-list id="myProfile-list9" class="lower">
    <ion-item color="none" id="myProfile-list-item39">
      <ion-avatar item-left>
        <img />
      </ion-avatar>
      <h2>
        Rustam Eynaliyev
      </h2>
    </ion-item>
    <ion-item id="myProfile-textarea1">
      <ion-label>
        About me...
      </ion-label>
      <ion-textarea placeholder=""></ion-textarea>
    </ion-item>
    <ion-item id="meetSomebody-list-item-container1" *ngIf="languages">
      <div id="meetSomebody-markdown2" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>
            {{languages}}
          </strong>
        </p>
      </div>
    </ion-item>
    <ion-item>
      <ion-label *ngIf="!languages">Languages I speak:</ion-label>
      <ion-label *ngIf="languages" class="alert">Change Languages:</ion-label>
      <ion-select [(ngModel)]="languages" multiple="true">
        <ion-option value="English">English</ion-option>
        <ion-option value="Spanish">Spanish</ion-option>
        <ion-option value="German">German</ion-option>
        <ion-option value="French">French</ion-option>
        <ion-option value="Italian">Italian</ion-option>
        <ion-option value="Mandarin">Mandarin</ion-option>
      </ion-select>
    </ion-item>
    <ion-item color="none" id="myProfile-list-item43">
      <ion-icon name="pin" item-left></ion-icon>
      Krakow, Poland
    </ion-item>
    <ion-item color="none" id="myProfile-list-item44">
      Age: 25
    </ion-item>
    <ion-item color="none" id="myProfile-list-item45">
      University: Indiana University, Bloomington
    </ion-item>
  </ion-list>
</ion-content>
