<ion-content *ngIf="user">
	<back-button></back-button>
	<div *ngIf="user" class="venti-spacer">
		<!--
				<ion-slides pager>
					<ion-slide *ngFor="let img of photos">
						<img [src]="img.imgUrl" alt="">
					</ion-slide>
				</ion-slides>-->
		<ion-card>
			<img [src]="user.profilePhoto.imgUrl" onError="this.src='assets/images/other-assets/profile.png';">
		</ion-card>
		<ion-fab *ngIf="user && tab == 'vote' && !friend" class="action-btn block-btn">
			<button ion-fab color="light" (click)="block(user.id)" class="menu-btn-border">
				<ion-icon name="md-close"></ion-icon>
			</button>
		</ion-fab>
		<ion-fab *ngIf="user && tab == 'vote' && !friend" class="action-btn like-btn">
			<button ion-fab (click)="like(user.id)" color="light" class="menu-btn-border" *ngIf="!friend && !requested">
				<ion-icon name="ios-heart-outline"></ion-icon>
			</button>
			<button ion-fab (click)="unlike(user.id)" color="light" class="menu-btn-border" *ngIf="requested">
				<ion-icon name="ios-heart"></ion-icon>
			</button>
		</ion-fab>
		<ion-list>
			<ion-item>
				<div class="card-title">{{user.firstName}} {{user.lastName}}</div>
			</ion-item>
			<ion-item>
				<div class="card-subtitle">{{user.currentLocation}}</div>
			</ion-item>
			<ion-item id="myProfile-textarea1">
				<ion-label>
					About me...
				</ion-label>
				<div id="meetSomebody-markdown2" class="show-list-numbers-and-dots">
					<p>
						<strong>
							{{user.about}}
						</strong>
					</p>
				</div>
			</ion-item>
			<ion-item id="meetSomebody-list-item-container1" *ngIf="user.languages">
				<div id="meetSomebody-markdown2" class="show-list-numbers-and-dots">
					<p>
						<strong>
							{{user.languages}}
						</strong>
					</p>
				</div>
			</ion-item>
			<!--<ion-item>
						<ion-label *ngIf="!user.languages">Languages I speak:</ion-label>
						<ion-label *ngIf="user.languages" class="alert">Change Languages:</ion-label>
							<ion-select [(ngModel)]="user.languages" multiple="true">
							<ion-option value="English">English</ion-option>
							<ion-option value="Spanish">Spanish</ion-option>
							<ion-option value="German">German</ion-option>
							<ion-option value="French">French</ion-option>
							<ion-option value="Italian">Italian</ion-option>
							<ion-option value="Mandarin">Mandarin</ion-option>
						</ion-select>
					</ion-item>-->
			<ion-item color="none" id="myProfile-list-item43">
				<ion-icon name="pin" item-left></ion-icon>
				{{user.currentLocation}}
			</ion-item>
			<ion-item color="none" id="myProfile-list-item44">
				Age: {{user.birthday | age}}
			</ion-item>
			<ion-item color="none" id="myProfile-list-item45">
				University: {{user.universityName}}
			</ion-item>
			<ion-row class="tall-spacer">
				<!--<button ion-button color="royal" block (click)="updateProfile()">
					Update Profile
				</button>-->
			</ion-row>
		</ion-list>
		<button *ngIf="friend" ion-button class="meet-btn center-text" color="danger" (click)="removeFriend()" block>Unfriend</button>
	</div>
</ion-content>
