<ion-content *ngIf="user">
	<back-button></back-button>
	<ion-fab *ngIf="tab == 'vote'" style="left: 27%;" left bottom>
		<button ion-fab color="light" (click)="block(user.id)" class="menu-btn-border actn-btn">
			<ion-icon style="font-size: 4rem;" name="md-close"></ion-icon>
		</button>
	</ion-fab>
	<ion-fab *ngIf="user && tab == 'vote'" style="right: 27%;" right bottom>
		<button ion-fab (click)="like(user.id)" color="light" class="menu-btn-border actn-btn" *ngIf="!friend && !requested">
			<ion-icon name="ios-heart-outline"></ion-icon>
		</button>
		<button ion-fab (click)="unlike(user.id)" color="light" class="menu-btn-border actn-btn" *ngIf="friend || requested">
			<ion-icon name="ios-heart"></ion-icon>
		</button>
	</ion-fab>

	<div *ngIf="currentTab == 'about' && user" class="venti-spacer">
		<!--
			<ion-slides pager>
				<ion-slide *ngFor="let img of photos">
					<img [src]="img.imgUrl" alt="">
				</ion-slide>
			</ion-slides>-->
		<ion-card>
			<img [src]="user.profilePhoto.imgUrl" />
			<div class="card-title">{{user.firstName}} {{user.lastName}}</div>
			<div class="card-subtitle">{{user.location}}</div>
		</ion-card>
		<ion-list>
			<ion-item id="myProfile-textarea1">
				<ion-label>
					About me...
				</ion-label>
				<ion-textarea [(ngModel)]="user.about" placeholder="{{user.about}}"></ion-textarea>
			</ion-item>
			<ion-item id="meetSomebody-list-item-container1" *ngIf="languages">
				<div id="meetSomebody-markdown2" class="show-list-numbers-and-dots">
					<p style="margin-top:0px;color:#000000;">
						<strong>
							{{user.languages}}
						</strong>
					</p>
				</div>
			</ion-item>
			<!--<ion-item>
					<ion-label *ngIf="!user.languages">Languages I speak:</ion-label>
					<ion-label *ngIf="user.languages" class="alert">Change Languages:</ion-label>
						<ion-select [(ngModel)]="user.languages" multiple="true">
						<ion-option value="English">English</ion-option>
						<ion-option value="Spanish">Spanish</ion-option>
						<ion-option value="German">German</ion-option>
						<ion-option value="French">French</ion-option>
						<ion-option value="Italian">Italian</ion-option>
						<ion-option value="Mandarin">Mandarin</ion-option>
					</ion-select>
				</ion-item>-->
			<ion-item color="none" id="myProfile-list-item43">
				<ion-icon name="pin" item-left></ion-icon>
				{{user.currentLocation}}
			</ion-item>
			<ion-item color="none" id="myProfile-list-item44">
				Age: {{user.age}}
			</ion-item>
			<ion-item color="none" id="myProfile-list-item45">
				University: {{user.universityName}}
			</ion-item>
			<ion-row class="tall-spacer">
				<button ion-button color="royal" block (click)="updateProfile()">
					Update Profile
				</button>
			</ion-row>
		</ion-list>
	</div>
</ion-content>
<!--<ion-footer>
		<ion-segment [(ngModel)]="currentTab" (ionChange)="changeTab(currentTab)" color='dark'>
			<ion-segment-button id="photos-button" value="photos">
				<ion-icon name="ios-camera-outline" item-left></ion-icon>
			</ion-segment-button>
			<ion-segment-button id="about-button" value="about">
				<ion-icon name="ios-person" item-left></ion-icon>
			</ion-segment-button>
		</ion-segment>
	</ion-footer>
	<div [ngSwitch]="tab">
		<div *ngSwitchCase="'vote'">
			<ion-slides pager>
				<ion-slide *ngFor="let img of user.photos">
					<img [src]="img.imgUrl" alt="">
				</ion-slide>
			</ion-slides>
		</div>
      <div *ngSwitchCase="'photos'">
					<ion-slides>
							<ion-slide *ngFor="let img of user.photos">
								<img [src]="img.imgUrl" alt="">
							</ion-slide>
					</ion-slides>
			</div>
		<div *ngSwitchCase="'about'">
			<profile-timeline [user]="user" [user]="user"></profile-timeline>
		</div>
      <div *ngSwitchCase="'profile'">
          <profile-posts></profile-posts>
			</div>
	</div>
</ion-content>
<ion-footer *ngIf="user">
	<div [ngSwitch]="tab">
		<div *ngSwitchCase="'vote'">
			<div [ngClass]="animateClass" [style.display]="getHeight(tab)" class="profile-info">
				<span class="nameDetails">
					<span class="light-text">{{user.firstName}} {{user.lastName}}</span>
					<span *ngIf="user.birthday" class="usr-profile-age-label">{{user.birthday|age}}</span>
				</span>
			</div>
		</div>
      <div *ngSwitchCase="'photos'">
          <div [ngClass]="animateClass" class="profile-info">
              <span class="nameDetails"><span class="light-text">Photos of {{user.firstName}}</span></span>
          </div>
			</div>
		<div *ngSwitchCase="'about'">
			<div [ngClass]="animateClass" class="profile-info">
				<span class="nameDetails">
					<span class="light-text">About {{user.firstName}}</span>
				</span>
			</div>
		</div>
      <div *ngSwitchCase="'profile'">
          <div [ngClass]="animateClass" class="profile-info">
              <span class="nameDetails"><span class="light-text">Posts from Alice</span></span>
          </div>
      </div>
	</div>
	<ion-segment [(ngModel)]="tab" color='dark'>
		<ion-segment-button [@flyInTopSlow4]="0" id="vote-btn" value="vote">
			<ion-icon name="ios-heart-outline" item-left></ion-icon>
		</ion-segment-button>
      <ion-segment-button [@flyInTopSlow3]="0" style="background: #a75ada;color: white;height: 60px;padding-top: 10px;" value="photos">
          <ion-icon name="ios-camera-outline" item-left></ion-icon>
			</ion-segment-button>
		<ion-segment-button [@flyInTopSlow2]="0" id="about-btn" value="about">
			<ion-icon name="ios-person-outline" item-left></ion-icon>
		</ion-segment-button>
      <ion-segment-button [@flyInTopSlow1]="0" style="background: #ffd36a;color: white;height: 60px;padding-top: 10px;" value="profile">
          <ion-icon name="ios-paper-outline" item-left></ion-icon>
      </ion-segment-button>
	</ion-segment>
</ion-footer>
-->
