// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #3498db,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  royal:      #683f99,
  dark:       #222,
  favorite: #69BB7B,
  border-color: #E0E0E0,
  gray: #F7F7F7,
  fb-color: #3B5998,
  white: #FFFFFF,
  chat-bg: #EDECEC,
  chat-bubble: #C4EBF7
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
.btn-top-align{
	top: 10px;
}
.right {
	right: 0;
}
.gallery-bckg{
	margin: 0px 0px 0px 0px;
	position: absolute;
	width: 100%;
	top:0;
	height:100%;
	background: none;
}/*
.selected-img{
	padding: 5px;
	width: auto;
	margin: 0 auto;
	padding-bottom: 90px;
	height: 95%;
}*/
.actn-btn{
	width: 76px;
	height: 76px;
}
.notification{
  max-width: 9px;
  margin-left: 5px;
}
.usr-profile-age-label{
  padding: 11px;
  background: rgba(211, 124, 166, 0.61);
  position: absolute;
  right: 20px;
  top: -10px;
}
.promo-text{
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  color: #387ef5;
  font-family: sans-serif;
}
.menu-avatar{
  margin: 0px 0px 0px 0px;
  border: 2px solid color($colors, royal);
  width: calc(100%);
  border-radius: 50% !important;
}
.profile-info{
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
}
.participant-col{
  padding: 13px;
  color: #6c6c6c;
  text-align: center;
}
.participant-avatar{
  text-align: center;
  margin: 0px 0px 5px 0px;
  border: 2px solid color($colors, royal);
  width: calc(100%);
  height: 90px;
  min-width: 90px;
  min-height: 90px;
  border-radius: 50% !important;
}
img.avatar-border {
  border: 2px solid color($colors, royal);
}
img.profile-picture {
  padding: 2px;
  border-radius: 50%;
  border: 2px solid color($colors, royal);
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  &.left {
    left: 10px;
  }
  &.right {
    right: 10px;
  }
}
.dark-bckg{
  background: url('../assets/img/background.jpg');
}
.venti-spacer{
  margin-top: 63px !important;
}
.grande-spacer{
  margin-top: 42px !important;
}
.tall-spacer{
  margin-top: 21px !important;
}
.lower{
  padding-top: 21px;
}
.light-text{
  color: #d0d0d0;
  background-color: transparent;
}
.venti {
  font-size: 42px;
}
.grande{
  font-size: 21px;
}
.tall{
  font-size: 15px;
}
.short{
  font-size: 11px;
}
/* the loader */
.load {
  margin: 150px auto;
  width: 100px;
  height: 100px;
  /** height is required as absolute value **/
  background-color: color($colors, royal);
  border-radius: 100px;
  position:relative;
  animation: pulse 2000ms linear infinite;
  -webkit-animation: pulse 2000ms linear infinite;
  -moz-animation: pulse 2000ms linear infinite;
}
.load i{
  position:absolute;
  top:28px;
  left:24%;
  color:white;
  text-shadow:-1px -1px #333;
}
.load:after, .load:before {
  display: inline-block;
  margin: auto;
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: color($colors, royal);
}
.load:after {
  z-index: -100;
  -webkit-animation: outer-ripple 2000ms linear infinite;
  -moz-animation: outer-ripple 2000ms linear infinite;
  animation: outer-ripple 2000ms linear infinite;
}
.load:before {
  z-index: -200;
  -webkit-animation: inner-ripple 2000ms linear infinite;
  -moz-animation: inner-ripple 2000ms linear infinite;
  animation: inner-ripple 2000ms linear infinite;
}
/* outer ripple */

@keyframes pulse{
  0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@-moz-keyframes pulse{
  0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@-webkit-keyframes pulse{
  0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@keyframes outer-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes outer-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-moz-keyframes outer-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
/* inner ripple */

@keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-moz-keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
