<!--
<ion-menu [content]="mainContent">


	<ion-content id="side-menu21">
		<ion-list class="tall-spacer">
			<ion-item (click)="openPage(myProfile)" *ngIf="currentUser">
				<ion-thumbnail item-left>
					<img class="profile-picture" [src]="currentUser.profilePhoto.imgUrl" default="assets/images/other-assets/profile.png">
				</ion-thumbnail>
				<h2 style="text-transform: capitalize;">{{currentUser.firstName}} {{currentUser.lastName}}</h2>
			</ion-item>
			<button ion-item *ngFor="let p of pages" (click)="openPage(p)" [class.activeHighlight]=checkActive(p)>
				<ion-icon name="{{p.icon}}" item-left></ion-icon>
				{{p.title}}
			</button>
		</ion-list>-->
<!--<span style="padding: 20px;color: #7a7a7a;">Featured Members</span>-->
<!--<ion-grid style="padding:0px">-->
<!--
			<ion-row style="padding: 3px;" *ngIf="currentUser">
				<ion-col col-4 *ngFor=" let currentUser of featuredUsers " class="participant-col">
					<ion-card class="menu-avatar">
						<img [src]="currentUser.profileImgUrl" />
					</ion-card>
					<span>{{currentUser.firstName}}</span>
				</ion-col>
			</ion-row>-->
<!--<ion-row style="text-align: center;">
				<span class="promo-text">Get matched 2x faster</span>
			</ion-row>
			<ion-row style="padding: 20px;">
				<button menuToggle ion-button color="royal" (click)="viewVIP()" block>Skip the line</button>
			</ion-row>
			<ion-row style="padding: 0 20px 0 20px;">
				<button menuToggle ion-button (click)="logout()" block>
					Logout
				</button>
			</ion-row>
		</ion-grid>
	</ion-content>
</ion-menu>-->

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
