<ion-content>
    <back-button></back-button>
    <ion-scroll scrollX style="height:100px;">
        <ion-row style="margin-left: 70px;">
            <ion-col *ngFor="let user of users">
                <ion-avatar item-left>
                    <img src="{{user.picture.large}}" (click)="goToUser(user)">
                </ion-avatar>     
            </ion-col>            
        </ion-row>            
    </ion-scroll>
    <ion-list no-lines style="padding-top: 65px;">
        <ion-item *ngFor="let msg of messages">
            <chat-bubble [message]="msg"></chat-bubble>
        </ion-item>
    </ion-list>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingText="Load more messages"
        refreshingText="Loading...">
        ></ion-refresher-content>
    </ion-refresher>
</ion-content>
<ion-footer>
<ion-textarea placeholder="Enter a description" style="color:#262626;background:#ccc;padding:5px;padding-right:20%"></ion-textarea>
    <button ion-button (click)="sendMessage()" style="position:absolute; right: 3%; padding:8px;top: 25%;border-radius: 50%;bottom: 15%; margin: 0;width:11%">
        <ion-icon name="md-send"></ion-icon>
    </button> 
</ion-footer>
