page-chatroom {
	.scroll-content {
		display: flex;
		flex-direction: column;
	}

	.scroll-content ion-list {
		margin-top: auto;
		margin-bottom: 0;
		padding-top: 21px;

		ion-item {
			background: transparent;
		}
	}

	ion-content {
		ion-fab {
			visibility: visible;
		}
	}
}
