<ion-content>
	<back-button></back-button>
	<span class="pageHeader">Friend Requests</span>
	<div class="white grande reqs-received req-subheader">Requests Received</div>
	<ion-list *ngIf="requestsReceived">
		<ion-item [ngClass]="animateClass" class="" *ngFor="let request of requestsReceived">
			<ion-thumbnail item-left *ngIf="request.sender.imgUrl">
				<img [src]="request.sender.imgUrl" class="profile-picture" onError="this.src='assets/images/other-assets/profile.png';">
			</ion-thumbnail>
			<h2 class="req-sender-name">{{request.sender.firstName}} {{request.sender.lastName}}
				<!--<span>
					<img *ngIf="request.seen.indexOf(currentUser.id) === -1" class="notification" src="http://www.clker.com/cliparts/r/M/L/o/R/i/green-dot.svg.med.png">
				</span>-->
			</h2>
			<ion-fab class="reject-btn btn-top-align">
				<button ion-fab color="light" (click)="reject(request)" class="menu-btn-border">
					<ion-icon name="md-close"></ion-icon>
				</button>
			</ion-fab>
			<ion-fab class="accept-btn btn-top-align">
				<button ion-fab (click)="accept(request)" color="light" class="menu-btn-border">
					<ion-icon name="ios-heart-outline"></ion-icon>
				</button>
			</ion-fab>
		</ion-item>
	</ion-list>
	<div class="grande white req-subheader" (click)="toggleSentListVisibility()">Requests sent</div>
	<div *ngIf="requestsSent.length === 0" class="tall white req-subheader">No sent requests</div>
	<ion-list class="venti-spacer" *ngIf="sentListVisible">
		<ion-item [ngClass]="animateClass" *ngFor="let sentUser of requestsSent">
			<ion-thumbnail item-left *ngIf="sentUser.sender.imgUrl">
				<img [src]="sentUser.sender.imgUrl" class="profile-picture" onError="this.src='assets/images/other-assets/profile.png';">
			</ion-thumbnail>
			<ion-fab class="right btn-top-align">
				<button ion-fab color="light" (click)="removeRequest(sentUser)" class="menu-btn-border">
					<ion-icon name="md-close"></ion-icon>
				</button>
			</ion-fab>
		</ion-item>
	</ion-list>
	<div class="grande white req-subheader" (click)="toggleBlockListVisibility()">Blocked List</div>
	<div *ngIf="blockedList.length == 0" class="tall white req-subheader">No blocked contacts</div>
	<ion-list class="venti-spacer" *ngIf="blockedListVisible">
		<ion-item *ngFor="let blockedUser of blockedList">
			<ion-thumbnail item-left *ngIf="blockedUser.sender.imgUrl">
				<img [src]="blockedUser.sender.imgUrl" class="profile-picture" onError="this.src='assets/images/other-assets/profile.png';">
			</ion-thumbnail>
			<ion-fab class="right btn-top-align">
				<button ion-fab color="light" (click)="unblock(blockedUser)" class="menu-btn-border">
					<ion-icon name="md-close"></ion-icon>
				</button>
			</ion-fab>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
