page-requests-list {
	.reqs-received {
		margin-top: 106px !important;
	}

	.req-subheader {
		margin-left: 21px;
	}

	ion-list {
		margin-top: 21px !important;
		margin-left: 21px;

		ion-item {
			.req-sender-name {
				display: inline;
			}

			.accept-btn {
				right: 10px;
			}

			.reject-btn {
				right: 96px;
			}

			ion-fab {
				top: 10px !important;
			}
		}
	}


}
