page-waitlist {
	ion-list {
		margin: auto;
		width: 100%;
		top: 23%;
		position: fixed;
		.running-dog {
			margin: auto;
		}
		.universal-btn {
			text-align: center;
			width: 75vw;
			margin: auto;
			z-index: 100;
			position: relative;
			border-radius: 0 !important;
			margin-bottom: 1vh;
		}
	}
}
