page-contacts-list {
	ion-thumbnail {
		img {
			padding: 2px;
			border-radius: 50%;
			border: 2px solid #683f99;
		}
	}
	ion-item {
		background-color: transparent;
		color: #cfcfcf !important;
	}
	.no-contact-msg {
		color: white;
		position: fixed;
		width: 100%;
		text-align: center;
		top: 33%;
	}
}
