page-contacts-list {
	ion-list {
		margin-top: 106px !important;

		ion-item {
			background-color: transparent;
			color: #cfcfcf !important;

			ion-thumbnail {
				img {
					padding: 2px;
					border-radius: 50%;
					border: 2px solid #683f99;
				}
			}
		}
	}

	.no-contact-msg {
		color: white;
		position: fixed;
		width: 100%;
		text-align: center;
		top: 33%;
	}
}
