<ion-content padding>
	<menu-button></menu-button>
	<!-- will be useful when we have multiple filters
      <ion-fab right top>
        <button ion-fab color="primary" (click)="viewFilter()" class="menu-btn-border">
            <ion-icon name="md-settings"></ion-icon>
        </button>
    </ion-fab>-->
	<span class="pageHeader">Meet people</span>
	<!--
    <ion-list class="lower" *ngIf="languages">
      <ion-item>
          <ion-label stacked>Languages I want to speak in: </ion-label>
          <ion-select name="language-select" [(ngModel)]="selectedLanguages" multiple="true">
              <ion-option *ngFor="let language of languages" [value]='language'>{{language.name}}</ion-option>
          </ion-select>
      </ion-item>
    </ion-list>-->
	<ion-list>
		<ion-row>
			<div class="meet-ppl-btn center-text" (click)="goToWaitlist()">
				<img src="../assets/images/logo/logo.png" alt="">
			</div>
		</ion-row>
		<!--<ion-row>
			<img class="center-image" src="../assets/icons/up-icon.png" alt="" />
		</ion-row>-->
		<ion-row>
			<button ion-button class="center-text" color="primary" (click)="goToWaitlist()">Let's meet some people</button>
		</ion-row>
	</ion-list>
</ion-content>
